//=======================================================================
// USEFUL LESS MIXINS
//=======================================================================

.transition (@transition: all 0.3s ease) {
	-webkit-transition: @transition;
	   -moz-transition: @transition;
	    -ms-transition: @transition;
	     -o-transition: @transition;
	        transition: @transition;
}

.box-shadow (@string: #fff 0px 0px 0px) {
	-webkit-box-shadow: @string;
	   -moz-box-shadow: @string;
	        box-shadow: @string;
}

.border-radius (@radius: 4px) {
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
	        border-radius: @radius;

	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
}

.border-top-left-radius (@radiustl: 4px) {
	-webkit-border-top-left-radius: @radiustl;
	    -moz-border-radius-topleft: @radiustl;
	        border-top-left-radius: @radiustl;
}

.border-top-right-radius (@radiustr: 4px) {
	-webkit-border-top-right-radius: @radiustr;
	    -moz-border-radius-topright: @radiustr;
	        border-top-right-radius: @radiustr;
}

.border-bottom-right-radius (@radiusbr: 4px) {
	-webkit-border-bottom-right-radius: @radiusbr;
	    -moz-border-radius-bottomright: @radiusbr;
	        border-bottom-right-radius: @radiusbr;
}

.border-bottom-left-radius (@radiusbl: 4px) {
	-webkit-border-bottom-left-radius: @radiusbl;
	    -moz-border-radius-bottomleft: @radiusbl;
	        border-bottom-left-radius: @radiusbl;
}

.background-size(@string: 100% auto) {
	-webkit-background-size: @string;
	   -moz-background-size: @string;
	     -o-background-size: @string;
	        background-size: @string;
}

.columns(@count: 2; @gap: 40px; @rule-width: 1px; @rule-style: solid; @rule-color: #eee) {

	-webkit-column-count: @count;
	   -moz-column-count: @count;
	        column-count: @count;

	-webkit-column-gap: @gap;
	   -moz-column-gap: @gap;
	        column-gap: @gap;

	-webkit-column-rule-width: @rule-width;
	   -moz-column-rule-width: @rule-width;
	        column-rule-width: @rule-width;

	-webkit-column-rule-style: @rule-style;
	   -moz-column-rule-style: @rule-style;
	        column-rule-style: @rule-style;

	-webkit-column-rule-color: @rule-color;
	   -moz-column-rule-color: @rule-color;
	        column-rule-color: @rule-color;

}

.scale (@factor: 0.75) {
	-webkit-transform: scale(@factor);
	   -moz-transform: scale(@factor);
	    -ms-transform: scale(@factor);
	     -o-transform: scale(@factor);
	        transform: scale(@factor);
}

.rotate (@factor: 0deg) {
	-webkit-transform: rotate(@factor);
	   -moz-transform: rotate(@factor);
	    -ms-transform: rotate(@factor);
	     -o-transform: rotate(@factor);
	        transform: rotate(@factor);
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: @opacity;
	   -moz-opacity: @opacity;
	        opacity: @opacity;
}

.gradient (@start: #ccc, @end: #fff) {
	background: @start;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(@start), to(@end));
	background: -webkit-linear-gradient(@start, @end);
	background: -moz-linear-gradient(@start, @end);
	background: -ms-linear-gradient(@start, @end);
	background: -o-linear-gradient(@start, @end);
	background: linear-gradient(@start, @end);
}

.blur (@pixel: 5px) {
	-webkit-filter: blur(@pixel);
	   -moz-filter: blur(@pixel);
	    -ms-filter: blur(@pixel);
	     -o-filter: blur(@pixel);
	        filter: blur(@pixel);
}

.placeholder-color (@phcolor: inherit) {
	&::-webkit-input-placeholder {
		color: @phcolor;
	}
	&:-moz-placeholder {
		color: @phcolor;
		opacity: 1;
	}
	&::-moz-placeholder {
		color: @phcolor;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: @phcolor;
	}
}
