//=======================================================================
// USEFUL LESS MIXINS
//=======================================================================

.transition (@transition: all 0.3s ease) {
	-webkit-transition: @transition;
	   -moz-transition: @transition;
	    -ms-transition: @transition;
	     -o-transition: @transition;
	        transition: @transition;
}

.box-shadow (@string: #FFF 0px 0px 0px) {
	-webkit-box-shadow: @string;
	   -moz-box-shadow: @string;
	        box-shadow: @string;
}

.border-radius (@radius: 4px) {
	-webkit-border-radius: @radius;
	   -moz-border-radius: @radius;
	        border-radius: @radius;

	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
}

.background-size(@string: 100% auto) {
	-webkit-background-size: @string;
	   -moz-background-size: @string;
	     -o-background-size: @string;
	        background-size: @string;
}

.columns(@count: 2; @gap: 40px; @rule-width: 1px; @rule-style: solid; @rule-color: #eee) {

	-webkit-column-count: @count;
	   -moz-column-count: @count;
	        column-count: @count;

	-webkit-column-gap: @gap;
	   -moz-column-gap: @gap;
	        column-gap: @gap;

	-webkit-column-rule-width: @rule-width;
	   -moz-column-rule-width: @rule-width;
	        column-rule-width: @rule-width;

	-webkit-column-rule-style: @rule-style;
	   -moz-column-rule-style: @rule-style;
	        column-rule-style: @rule-style;

	-webkit-column-rule-color: @rule-color;
	   -moz-column-rule-color: @rule-color;
	        column-rule-color: @rule-color;

}
